#col-1:hover{
    background-color: rgb(163, 163, 223);
    color: white;
}
#col-2:hover{
    background-color: rgb(163, 163, 223);
    color: white;
}
#col-3:hover{
    background-color: rgb(163, 163, 223);
    color: white;
}