<section class="mb-5" style="margin-top: 100px;">
    <div>
        <h1 class="text-center">ABOUT US</h1>
    </div>
    <div>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, earum soluta unde enim perferendis dolorum voluptatum quod reprehenderit vel nihil aut autem ea error neque tempora voluptatem, eligendi sapiente? Maiores.
        Culpa odio vitae id, eos quod cupiditate, quae incidunt natus eum aliquam nobis? Vitae quibusdam eum odit. Earum repellendus, adipisci porro, in odit aliquam doloribus facere nostrum, blanditiis sit ipsa!
        Ut voluptate sit atque odio quidem tenetur eligendi. Maxime necessitatibus tempore, eum incidunt cum vero. Quod, qui veritatis sequi, nobis veniam eius quia numquam dolorum totam provident cumque magnam sapiente.</p>
    </div>
    <div>
        <div class="container mt-5">
            <div class="row">
            
                <div class="col-sm-4">
                    <div class="card m-2" id="col-1">
                        <img src="../../../assets/images/api4.png" alt="" class="card-img-top mx-auto" style="width: 100px; height: auto;">
                        <div class="card-body">
                            <h4 class="card-title text-center">Our Mission</h4>
                            <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias magni dignissimos ipsum sed consequatur numquam veniam quam placeat in ipsa, quaerat doloribus, magnam, pariatur sunt eligendi minima id nobis facilis!</div>
                            <button class="btn btn-secondary mt-3">Learn More</button>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-4" >
                        <div class="card m-2" id="col-3">
                            <img src="../../../assets/images/api2.png" alt="" class="card-img-top mx-auto" style="width: 178px; height: auto;">
                            <div class="card-body">
                                <h4 class="card-title text-center">Our Vision</h4>
                                <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias magni dignissimos ipsum sed consequatur numquam veniam quam placeat in ipsa, quaerat doloribus, magnam, pariatur sunt eligendi minima id nobis facilis!</div>
                                <button class="btn btn-secondary mt-3">Learn More</button>
                            </div>
                        </div>
                </div>
    
                <div class="col-sm-4">
                    <div class="card m-2" id="col-3">
                        <img src="../../../assets/images/api3.webp" alt="" class="card-img-top mx-auto" style="width: 100px; height: auto;">
                        <div class="card-body">
                            <h4 class="card-title text-center">Achivements</h4>
                            <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias magni dignissimos ipsum sed consequatur numquam veniam quam placeat in ipsa, quaerat doloribus, magnam, pariatur sunt eligendi minima id nobis facilis!</div>
                            <button class="btn btn-secondary mt-3">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
